<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>title.</title>
  {% assets "main_bundle_css" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
  {% endassets %}
</head>
<body>
  <div class="page">

    <div class="header">
      <div class="left">
        <img src="/title.png" width="80" height="20" />
        <img src="/title_arrow.png" width="10" height="10" />
      </div>
      <div class="right">
        {% include 'macro/menu.html' %}
      </div>
    </div>

    <div class="wrapper">

      <div class="body">
        {% block body %}{% endblock %}
      </div>

    </div>

  </div>

  {% assets "bundle_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
