
$font: "Helvetica Neue",Helvetica,Arial,sans-serif;



// import bootstrap modules
@import "bootstrap/variables";
@import "bootstrap/mixins";
//@import "bootstrap/normalize";
//@import "bootstrap/print";
//@import "bootstrap/glyphicons";
//@import "bootstrap/scaffolding";
//@import "bootstrap/type";
//@import "bootstrap/code";
//@import "bootstrap/tables";
//@import "bootstrap/forms";
//@import "bootstrap/buttons";
//@import "bootstrap/utilities";
//@import "bootstrap/responsive-utilities";
@import "bootstrap/grid";

@mixin inline-list($sep) {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline;
        &:before {
            padding: 0 4px 0 0;
            content: $sep;
            color: #999;
        }
        &:first-child:before {
            padding: 0;
            content: "";
        }
    }
}

@mixin middot-list {
    @include inline-list("\00b7");
}

@mixin pipe-list {
    @include inline-list("|");
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

/* prevents padding from influencing sizes */
@mixin border-box-sizing {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin user-select-none {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

body {
    font-family: $font;
    font-size: .8em;
    margin: 0; padding: 0;
    background-color: #f1f1f1;
}

h1 {
    font-size: 1.3em;
    margin: 4px 2px 20px 2px;
}

code {
    padding: 2px;
}

abbr {
    font-style: italic;
    border-bottom: 1px dotted #999;
}

label {
    @include user-select-none;
    &.label-block {
        display: block;
        font-style: italic;
        color: #999;
    }
}

a {
    color: #4590c2;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

textarea, input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    @include border-radius(4px);
    @include border-box-sizing;
    color: #555;
    font-family: $font;
    padding: 5px;
}

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    @include user-select-none;
    border: 1px solid #ccc;
    @include border-radius(4px);
    color: #333;
    background-color: #fff;
    &:hover {
        border-color: #9e9e9e;
        background-color: #e6e6e6;
    }
}

.header {
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 32px 10px 32px;
    text-align: right;
    .left {
        float: left;
    }
    .right {
        padding-top: 3px;
    }
}

.menu {
    @include pipe-list;
}

.wrapper {
    padding: 13px 18px;
}

.body {
    background-color: white;
    padding: 19px 22px;
}

.block {
    margin: 8px 0;
}

.block-toggle {
    @extend .block;
    .block-title {
        padding: 2px 15px;
        background-position: 5px 10px;
        background-repeat: no-repeat;
        background-image: url("/arrow.png");
    }
    .block-title-hover {
        cursor:pointer;
        &:hover {
            //background-image: url("/arrow_hover.png");
            color: #9e9e9e;
        }
    }
}

.block-error {
    padding: 10px;
    background-color: #f2dede;
    ul li span {
        font-weight: bold;
    }
}

.block-title {
    font-weight: 700;
    padding: 2px 4px;
    border-bottom: 1px solid #e8e8e8;
    color: #333;
    span {
        color: #999;
        font-style: italic;
    }
}


.block-body {
    padding: 8px;
}

.block.title-description {
    input, textarea {
        display: block;
        margin-bottom: 7px;
    }
    input {
    }
    textarea {
    }
}

.tags {
}

.tag-list {
    list-style: none;
    padding: 5px;
    margin: 0;
    li {
        display: inline;
        margin-right: 4px;
        white-space: nowrap;
        //@include border-radius(6px);
        //border: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 3px;
        display: inline;
        font-size: 0.8em;
    }
    .no-tags {
        font-style: italic;
        color: #999;
    }
    span.del-tag {
        color: #a94442;
        font-size: 1em;
        cursor: pointer;
    }
}


